<!--funfares.ejs-->
 <link rel='stylesheet' href='/stylesheets/style.css' />

<div class="row">
<div class="card-group">
  <div class="card">
  <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-body">
        <img src="http://www.neeu.com/uploads/images/2014/4/25/1398403999104.jpg" width="400" height="200" >
       <a href="#" style="font-size:25px;"class="card-title">Hawaii</a>
        <p class="card-text">Economy class,$6400</p>
            <p class="card-text">Valid till:10/29/2017. Qouta left:100</p >
        <p class="card-text"><small class="text-muted">10/01/2017-10/31/2017</small></p>
      </div>
    </div>
    </div>
<div class="card">
<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card-body">
          <img src="http://towngoodiesch.wdfiles.com/local--files/town:us-ca-walnut-creek/walnut-creek.jpg" width="400" height="200" >
       <a href="#" style="font-size:25px;"class="card-title">Walnut Creek</a>
      <p class="card-text">Business class,$7500</p>
            <p class="card-text">Valid till:10/29/2017. Qouta left:150</p >
      <p class="card-text"><small class="text-muted">10/01/2017-10/31/2017</small></p>
    </div>
  </div>
  </div>
<div class="card">
<div class="col-sm-12 col-md-6 col-lg-4">

    <div class="card-body">
          <img src="http://static.dcfever.com/media/sharing/06/08/15/l627521155610309.jpg" width="400" height="200" >
     <a href="#" style="font-size:25px;"class="card-title">Rocky Mountain</a>
      <p class="card-text">Economy class,$5300</p>
            <p class="card-text">Valid till:10/29/2017. <span style="color:red">Sold out</span></p >
      <p class="card-text"><small class="text-muted">10/01/2017-10/31/2017</small></p>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="card">
  <div class="col-sm-12 col-md-6 col-lg-4">

      <div class="card-body">
            <img src="https://pbs.twimg.com/media/BZ1aOo8CMAA0V_s.jpg" width="400" height="200" >
           <a href="#" style="font-size:25px;"class="card-title">Peru</a>
        <p class="card-text">Economy class,$8300</p >
        <p class="card-text">Valid till:10/29/2017. Qouta left:160</p >
        <p class="card-text"><small class="text-muted">10/01/2017-10/31/2017</small></p>
      </div>
    </div>
  </div>
  </div>

</body>
 <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
